/*:root {
	background-color: rgba(0,0,0,0.2);
	font-family: Verdana, sans-serif;
	--text-color: #333;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	border: 1px solid black;
}

.nav {
	border:2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main {
	border: 1px solid black;
	min-height: 150vh;
}*/

img {
	max-width: 100%;
}

.imagelink {
	
}