h2,h3,h4,h5,h6 {
	text-transform: capitalize;
}

img {
	max-width: 100%;
}

a > img:hover {
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
	transition-duration: 0.2s;
}

article {
	text-align: justify;
}